.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(95, 209, 203);
    border: 2px solid grey;
    border-radius: 7px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.1s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
